/* dont want to do scss for this project so it will be a single css file for the global website, not optimal but get the job done */
/* global settings */

body{
    background-color: rgb(5, 5, 5) !important;
    margin: 0px;
}

h1{
    color: rgb(49, 204, 49);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 28px !important;
}

h3:hover{
    color: rgb(49, 204, 49);
}

h2{
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 24px !important;
    width: 100%;
}

h3{
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 24px !important;
}

p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px !important;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }


button{
    background-color: rgb(28, 28, 28);
    color: rgb(49, 204, 49);
    border-radius: 30px !important;
    border-color: rgb(49, 204, 49);
    padding: 3px 15px 3px 15px;
}

button:hover{
    background-color: rgb(50, 50, 50);
    color: rgb(0, 255, 0);
    border-radius: 30px !important;
    border-color: rgb(0, 255, 0);
    padding: 3px 15px 3px 15px;
}

button:active{
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    border-radius: 30px !important;
    border-color: rgb(255, 255, 255);
    padding: 3px 15px 3px 15px;
}
 /* class aimed settings */


.global-navbar{
    display: flex;
    flex-direction: row;
    height: 8vh;
    justify-content: space-evenly;
    align-items: center;
}

.global-header{
    background-color: rgb(20, 20, 20);
    margin: 0px 0px 25px 0px;
    position: sticky;
    width: 100%;
}

.list-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0vw 10vw;
}

.list-div div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-div main{
    padding: 1vw;
}

.list-div img{
    width: 15vw;
}

.list-div main:nth-of-type(odd){
    background-color: rgb(20, 20, 20);
}

.movie-title{
    color: rgb(49, 204, 49);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 28px !important;
    width: auto;
}

.pagination-div{
    display: flex;
    width: 100%;
    justify-content: center;
}

.filters{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 25px;
}

.single-div{
    padding: 1vw 2vw 1vw 2vw;
}

.single-img{
    display: flex;
}

.single-img p{
    padding: 0vw 2vw 1vw 2vw;
    margin: 0;
}

.single-title{
    display: flex;
    align-items: center;
}

.single-title h1{
    margin: 0;
    padding: 0vw 0vw 1vw 2vw;

}

.single-first{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 30px;

}

.single-first p{
    color: rgb(49, 204, 49);
}

.genre-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    padding-left: 1vw;
    margin-top: 12vh;
}

.genre-list div{
    padding-bottom: 1vh;
}


.recommendation{
    background-color: rgb(20, 20, 20);
    padding: 1vw 1vw 1vw 1vw;
    margin-bottom: 50px;
}

.home-recommendation{
    display: flex;
}

.home-desc{
    padding: 0vw 1vw 0vw 1vw;
}

.home-desc p{
    margin: 0;
}

main p{
    padding: 0vw 1vw;
}

.cta a{
    display: flex;
    border: solid;
    padding: 1vh 2vw 1vh 2vw;
    border-radius: 30px;
    background-color: rgb(20, 20, 20);
    border-color: white;
    margin-bottom: 25px;

}

.episodes a{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.episodes:hover{
    background-color: rgb(49, 204, 49) !important;
}

.episodes:nth-of-type(odd){
    background-color: rgb(20, 20, 20);
}